
.wrapper{
    
    height: 70vw;
}
.part1{
    width: 80vw;
    height: 50vh;
    display: flex;
}
.part2{
    width: 80vw;
    height: 50vh;
    display: flex;
}
.part3{
    width: 80vw;
    height: 50vh;
    display: flex;
}
.images1{
    width: 30vw;
    height: 50vh;
}
.images2{
    width: 30vw;
    height: 50vh;
}
.images3{
    width: 30vw;
    height: 50vh;
}
.image1{
    width: 370px;
    height: 250px;
    margin: 34px 0px 0px 65px;
    border: 3px solid rgb(0, 0, 0);
    box-shadow: 10px 8px 19px -4px rgba(0,0,0,0.5);
}
.image2{
    width: 370px;
    height: 250px;
    margin: 34px 0px 0px 65px;
    border: 3px solid rgb(0, 0, 0);
    box-shadow: 10px 8px 19px -4px rgba(0,0,0,0.5);
}
.image3{
    width: 370px;
    height: 250px;
    margin: 34px 0px 0px 65px;
    border: 3px solid rgb(0, 0, 0);
    box-shadow: 10px 8px 19px -4px rgba(0,0,0,0.5);
}